
<!--Menu Bar -->
<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">HOME</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">WINDING <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Book 12-GG</a></li>
                        <li><a href="#">Salary</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">KNITTING <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Book 12-GG</a></li>
                        <li><a href="#">Salary</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">LINKING <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Book 12-GG</a></li>
                        <li><a href="#">Salary</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">TRIMMING <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Book 12-GG</a></li>
                        <li><a href="#">Salary</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">MENDING <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Book 12-GG</a></li>
                        <li><a href="#">Salary</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class = "jumbotron">
    <h1 align = "center">Production Management System</h1>
</div>

<!--Button Menu -->
<div align="center">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Code</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Date Change</a></li>
            <li><a href="#">SQL</a></li>
            <li><a href="#">Debug</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-success">Security</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">User Create</a></li>
            <li><a href="#">User Group</a></li>
            <li><a href="#">Permission</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-info">Attendance</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-warning">Employee</button>
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Winding Employee</a></li>
            <li><a href="#">Knitting Employee</a></li>
            <li><a href="#">Linking Employee</a></li>
            <li><a href="#">Trimming Employee</a></li>
            <li><a href="#">Mending Employee</a></li>
            <li class="divider"></li>
            <li><a href="#">New Employee</a></li>
            <li><a href="#">New Employee(F)</a></li>
            <li><a href="#">New Employee(F)</a></li>
            <li class="divider"></li>
            <li><a href="#">Grade</a></li>
            <li><a href="#">Designation</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger">Production</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Section</a></li>
            <li><a href="#">Buyer</a></li>
            <li><a href="#">Style</a></li>
            <li class="divider"></li>
            <li><a href="#">Color</a></li>
            <li><a href="#">Size</a></li>
            <li><a href="#">Lot</a></li>
            <li><a href="#">Rate Name</a></li>
            <li class="divider"></li>
            <li><a href="#">Block2Machine</a></li>
            <li><a href="#">Block Supervisor</a></li>
            <li><a href="#">SectionGG-Block</a></li>
            <li class="divider"></li>
            <li><a href="#">Style Settings</a></li>
        </ul>
    </div>
    <button class="btn btn-success"><span class="glyphicon glyphicon-cog"></span> Settings</button>
</div>
<div>
    <h2>Complete Toolbar {{name}}</h2>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/lazy">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#/lazy">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" tooltip="Search Styles or Employee" ng-enter="console.log('enter')" ng-esc="onEsc()">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="showModal()">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/" ng-click="onAlert()">Alert</a></li>
                    <li><a href="#/" ng-click="onConfirm()">Confirm</a></li>
                    <li><a href="#/" ng-click="onPrompt()">Prompt</a></li>
                    <li><a href="#/" ng-click="onMultiInput()">MultiInput</a></li>
                    <li><a href="#/" ng-click="onAddress()">Address</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<!--user name and password -->
<div class="container">
    <h2>Enter your e-mail id and Password</h2>

    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<!--Total Worker Calculate -->
<div ng-app="" ng-init="line=''; man=''; floor=''">
    <h2>Worker Calculate</h2>
    Line: <input type="number" ng-model="line">
    Floor: <input type="number" ng-model="floor">
    Man: <input type="number" ng-model="man">
    <h3>Total Worker: {{line * man * floor}}</h3>
</div>

<div class="comp-input-group">
    <h2>Input Group</h2>
    Implement date picker from this nice site: http://stefangabos.ro/jquery/zebra-datepicker/#download
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Name</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
    </div>
    <br>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="selectCar01" class="col-sm-2 control-label">Select car</label>

            <div class="col-sm-10">
                <select class="form-control" id="selectCar01">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
</div>
<div>
    <h2>Tab View</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>
<h3 align = "right">Developed by: Logic Bd </h3>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Im a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<button type="submit" class="btn btn-default" ng-click="loadData()">Load Data</button>
<button type="submit" class="btn btn-default" ng-click="selectSection()">Select Section</button>
<br><br><br>

<table class="signature">
    <tr>
        <td><div class="text">Prepared by</div></td>
        <td><div class="text">Supervisor</div></td>
        <td><div class="text">Incharge</div></td>
        <td><div class="text">PM</div></td>
        <td><div class="text">Floor Admin</div></td>
        <td><div class="text">HRD</div></td>
    </tr>
</table>
